.generation {
  padding: 117px 0 142px 0;
  background: #f7f7f7;

  // .generation__body

  &__body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  // .generation__img

  &__img {
    margin: 0 0 34px 0;
  }

  // .generation__title

  &__title {
    margin: 0 0 30px 0;
    font-size: 18px;
  }

  // .generation__text

  &__text {
  }
  @include media(landscapemobile) {
    padding: 45px 0 45px 0;
  }
}
