// Media
@mixin media($breakpoint) {
  @if $breakpoint == desktop {
    @media (max-width: 1199.98px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media (max-width: 991.98px) {
      @content;
    }
  }
  @if $breakpoint == landscapemobile {
    @media (max-width: 767.98px) {
      @content;
    }
  }
  @if $breakpoint == mobile {
    @media (max-width: 575.98px) {
      @content;
    }
  }
}
// Adaptive font
@mixin adaptive-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(
    #{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth})
  );
}
// Pseudo
@mixin pseudo(
  $width: 100%,
  $height: 100%,
  $display: inline-block,
  $pos: absolute,
  $content: ""
) {
  content: $content;
  display: $display;
  position: $pos;
  width: $width;
  height: $height;
  @content;
}
