@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato/Lato-Light.woff2") format("woff2"), url("../fonts/Lato/Lato-Light.woff") format("woff"), url("../fonts/Lato/Lato-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato/Lato-Regular.woff") format("woff"), url("../fonts/Lato/Lato-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato/Lato-Italic.woff2") format("woff2"), url("../fonts/Lato/Lato-Italic.woff") format("woff"), url("../fonts/Lato/Lato-Italic.ttf") format("ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  font-display: swap;
  src: url("../fonts/Lato/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato/Lato-Bold.woff") format("woff"), url("../fonts/Lato/Lato-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "MyriadPro";
  font-display: swap;
  src: url("../fonts/MyriadPro/MyriadPro-Regular.woff2") format("woff2"), url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 100%;
  position: relative;
  width: 100%;
  color: #000;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: "Lato";
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Lato";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.wrapper {
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  overflow: hidden;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 35px;
  text-align: center;
}

.header__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
}

.header__logo {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.menu__icon {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__item {
  position: relative;
  padding: 0 37.5px;
}

.menu__item:nth-child(2) {
  padding: 0 110px 0 37.5px;
}

.menu__item:nth-child(3) {
  padding: 0 37.5px 0 110px;
}

.menu__item:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 2px;
  background: black;
  border-radius: 50%;
  bottom: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  right: 0;
}

.menu__item:nth-child(2)::after,
.menu__item:last-child::after {
  opacity: 0;
}

.menu__link {
  color: #4d4959;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2.6px;
}

.generation {
  padding: 117px 0 142px 0;
  background: #f7f7f7;
}

.generation__body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.generation__img {
  margin: 0 0 34px 0;
}

.generation__title {
  margin: 0 0 30px 0;
  font-size: 18px;
}

.work__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.work__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 33.333%;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.work__column_big {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 66.666%;
      -ms-flex: 0 1 66.666%;
          flex: 0 1 66.666%;
}

.work__content {
  position: relative;
  padding: 70px 67px 100px;
}

.work__content:after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 10px;
  height: 10px;
  bottom: -10px;
  border-top: 10px solid white;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
}

.work__logo {
  margin: 0 0 30px 0;
}

.work__title {
  margin: 0 0 26px 0;
}

.work__text {
  text-justify: justify;
}

.work__img {
  padding: 0 0 37.905% 0;
}

.twitter {
  padding: 124px 0 68px 0;
  background: #f7f7f7;
}

.twitter__slider {
  max-width: 1066px;
  margin: 0 auto;
}

.twitter__slider .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  border: 1px solid #c8c8c8;
  background: transparent;
}

.twitter__slider .swiper-pagination-bullet-active {
  background: #a9afb3;
  border: none;
}

.twitter__content {
  padding: 0 0 94px 0;
}

.twitter__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 15px;
}

.twitter__img {
  margin: 0 0 37px 0;
}

.twitter__title {
  font-family: MyriadPro;
  margin: 0 0 26px 0;
}

.twitter__time {
  font-size: 18px;
  color: #848789;
  font-weight: 300;
  text-transform: lowercase;
}

.twitter__text {
  font-size: 24px;
  line-height: 34px;
}

.shop {
  background: #282f35;
  padding: 0 0 75px 0;
}

.shop__main-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 75px 0;
}

.shop__row {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 33.333%;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.shop__column {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 50%;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.shop__column_big {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 100%;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.shop__item_high {
  padding: 0 0 202.405% 0;
}

.shop__item .item__logo {
  visibility: hidden;
  -webkit-transition: 0.35s ease-in;
  -o-transition: 0.35s ease-in;
  transition: 0.35s ease-in;
}

.shop__item:hover .item__logo {
  visibility: visible;
}

.shop__item_little {
  padding: 0 0 100% 0;
}

.shop__item_big {
  padding: 0 0 50% 0;
}

.shop__button {
  display: block;
  padding: 19px 0;
  width: 300px;
  margin: 0 auto;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.item__logo {
  display: block;
}

.mailing {
  padding: 110px 0;
}

.mailing__logo {
  margin: 0 0 39px 0;
}

.mailing__title {
  color: #848789;
  font-size: 24px;
  line-height: 34px;
  margin: 0 0 35px 0;
}

.mailing__form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mailing__form ::-webkit-input-placeholder {
  padding-left: 20px;
}

.mailing__form ::-moz-placeholder {
  padding-left: 20px;
}

.mailing__form :-ms-input-placeholder {
  padding-left: 20px;
}

.mailing__form ::-ms-input-placeholder {
  padding-left: 20px;
}

.mailing__form ::placeholder {
  padding-left: 20px;
}

.mailing__user-email {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 400px;
      -ms-flex: 0 1 400px;
          flex: 0 1 400px;
  padding: 21.5px 15px;
  border: 1px solid #d3d7d9;
  color: #929292;
  font-size: 20px;
  line-height: 24px;
}

.mailing__submit {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 126px;
      -ms-flex: 0 1 126px;
          flex: 0 1 126px;
  padding: 22.5px 0;
  color: #ffffff;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
  text-transform: uppercase;
  background-color: #64c29e;
}

.footer {
  background: #f7f7f7;
  padding: 100px 0;
}

.footer__row {
  max-width: 1100px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 33.333%;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 0 15px 0;
}

.footer__social {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 33.333%;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
  margin: 0 0 15px 0;
}

.footer__credits {
  -webkit-box-flex: 0;
  -webkit-flex: 0 1 33.333%;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.footer__text {
  display: block;
  text-align: left;
  color: #848789;
  font-size: 14px;
  line-height: 17.87px;
  font-size: 16px;
}

.footer__text_bold {
  font-size: 16px;
  font-weight: 700;
}

.footer__text_italic {
  font-style: italic;
}

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social__link {
  padding: 0 7.5px;
}

.credits {
  text-align: right;
}

.credits__text {
  color: #848789;
  font-size: 14px;
  margin: 0 8px 0 0;
}

body {
  text-align: center;
  overflow-wrap: break-word;
}

.lock {
  overflow: hidden;
}

._container {
  max-width: 1100px;
  margin: 0 auto;
}

.intro__bg {
  min-height: 100vh;
  min-width: 100vw;
}

.icon-menu {
  position: absolute;
  width: 35px;
  height: 20px;
  cursor: pointer;
  z-index: 2;
  right: 20px;
  top: 0;
}

.icon-menu span {
  display: block;
  position: absolute;
  left: 0;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  width: 100%;
  height: 4px;
  background: black;
}

.icon-menu span:nth-child(1) {
  top: 0;
  -webkit-transition: 0.2s ease-in 0.2s;
  -o-transition: 0.2s ease-in 0.2s;
  transition: 0.2s ease-in 0.2s;
}

.icon-menu span:nth-child(2) {
  top: 8px;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.icon-menu span:nth-child(3) {
  top: 8px;
  opacity: 0;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.icon-menu span:nth-child(4) {
  bottom: 0;
  -webkit-transition: 0.2s ease-in 0.2s;
  -o-transition: 0.2s ease-in 0.2s;
  transition: 0.2s ease-in 0.2s;
}

.icon-menu.active span:nth-child(1) {
  -webkit-transform: translate(0, -5px);
      -ms-transform: translate(0, -5px);
          transform: translate(0, -5px);
  opacity: 0;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.icon-menu.active span:nth-child(2) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 0.2s ease-in 0.2s;
  -o-transition: 0.2s ease-in 0.2s;
  transition: 0.2s ease-in 0.2s;
}

.icon-menu.active span:nth-child(3) {
  opacity: 100%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: 0.2s ease-in 0.2s;
  -o-transition: 0.2s ease-in 0.2s;
  transition: 0.2s ease-in 0.2s;
}

.icon-menu.active span:nth-child(4) {
  -webkit-transform: translate(0, 5px);
      -ms-transform: translate(0, 5px);
          transform: translate(0, 5px);
  opacity: 0;
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.title {
  color: #353738;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.6px;
}

.text {
  font-size: 16px;
  color: #848789;
  line-height: 30px;
}

.item {
  display: block;
  position: relative;
  height: 100%;
}

.item__logo {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  z-index: 1;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.item__logo:hover {
  background: rgba(100, 194, 158, 0.7);
}

.item__logo-text {
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 10px 0 0 0;
}

.item__img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.slider-container {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
}

.slider-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1199.98px) {
  .work__content {
    padding: 35px 32px 50px;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .footer__text {
    text-align: center;
  }

  .footer {
    padding: 100px 35px;
  }

  .credits {
    text-align: center;
  }

  ._container {
    padding: 0 35px;
  }
}

@media (max-width: 767.98px) {
  .menu__icon {
    display: block;
  }

  .menu__body {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1;
    -webkit-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
  }

  .menu__body.active {
    top: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    padding: 150px 0 0 0;
    overflow: scroll;
    height: 100%;
  }

  .menu__item {
    display: block;
    padding: 15px 0 !important;
  }

  .menu__item:after {
    bottom: -2px;
    left: 50%;
  }

  .menu__item:nth-child(2):after {
    opacity: 1;
  }

  .menu__link {
    color: black;
    font-size: 30px;
  }

  .menu__icon {
    display: block;
  }

  .generation {
    padding: 45px 0 45px 0;
  }

  .work__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .work__row:nth-child(1) .work__column:nth-child(1) {
    -webkit-box-ordinal-group: 4;
    -webkit-order: 3;
        -ms-flex-order: 3;
            order: 3;
  }

  .work__row:nth-child(3) .work__column:nth-child(1) {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
  }

  .work__item {
    height: auto;
    padding: 0 0 80% 0;
  }

  .shop__main-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
  }

  .shop__item_little {
    padding: 0 0 100% 0;
  }

  .mailing__form {
    padding: 0 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
  }

  .mailing__user-email {
    margin: 0 0 15px 0;
  }
}

@media (max-width: 767.98px) and (max-width: 767.98px) and (orientation: landscape) {
  .menu__list {
    padding: 15px 0 0 0;
  }
}
@supports (-webkit-appearance:none){

}

 @media (max-width: 1199.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 767.98px) and (max-width: 767.98px) and (orientation: landscape){

@supports (-webkit-appearance:none){

}

}
